body {
  background-color: #f0f2f5;
  font-family: "Segoe UI", sans-serif;
}

h3 {
  color: #0d6efd;
}

.card {
  border-radius: 15px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card-title {
  color: #0d6efd;
  font-weight: bold;
}

.card-text {
  font-size: 0.9rem;
}
#players {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.card {
  width: 100%; /* Ocupa todo el ancho de la col-8 (ajustará automáticamente) */
}
